/* Default size on html for rem units */
html {
    font-size: 62.5%;
}

/* General css rules for the entire body */
body {
    background-color: black;
    color: blak;
    font-family: "Noto Sans TC", Arial, sans-serif;
    /* background-image: url("../images/backgroundsite.webp"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    animation: fadeIn 0.8s;
    height: 100vh;
}

header {
    height: 20vh;
    background-color: cadetblue;
}

main {
    height: 70vh;
    background-color: burlywood;
}

footer {
    height: 10vh;
    background-color: chocolate;
}

/* Positiong header logo */
.header__logo {
    height: 120px;
    width: 130px;
    padding-left: 35px;
    padding-top: 10px;
}

/* Positioning header buttons */
.header__buttons {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
}

/* Button default styles */
.button {
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 5px;
    background-color: black;
    border: 3px solid white;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
}

/* Button properties */
.button:hover {
    background-color: orange;
    transform: scale(1.2, 1.2);
}

.button:visited {
    background-color: black;
    color: white;
}

.button:active {
    background-color: rgb(221, 144, 0);
    color: white;
}

/* Aligning everything to center */
.main__home {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

/*  */
.highlightedGame__image {
    width: 100%;
    height: 100%;
}

/* Game title on the highlights section */
.highlightedGame__title {
    font-size: 3rem;
    font-weight: bold;
}

/* Part of the "Asignando Estilos" complementary challenge */
.highlightedGame__description {
    text-align: justify;
    font-size: 1.3rem;
}

/* Positioning footer to the right */
footer {
    /* float: right; */
    padding: 15px;
}

/* Erasing bullets from the navbar list and managing nav items with flexbox*/
.navBar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

/* Erasing <a> tag default styles */
.navBar__list li a {
    text-decoration: none;
    color: white;
}

.navBar__list li {
    margin-bottom: 10%;
}

/* First column with the navigation */
.navigationBar {
    /* background-color: rgba(196, 196, 196, 0.089); */
    padding: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    width: 10%;
}

/* Second column, the highlights */
.offers {
    width: 90%;
}

/* Offers title */
.offers__title {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

/* Setting up the position in order to place the next div with absolute */
.highlightedGame {
    position: relative;
    border: 6px solid rgba(88, 88, 88, 0.486);
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
    height: 65rem;
}

/* Highlight positioned content */
.highlightedGame__internalInfo--position {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 40%;
    height: auto;
    color: black;
    padding: 30px;
}

/* Aligning price div elements*/
.highlightedGame__price {
    align-items: center;
}

/* Placing the price tag */
.highlightedGame__price__text {
    display: inline-block;
    font-weight: bold;
    color: red;
    font-size: 3rem;
}

/* Moving GET IT NOW button to the right for better spacing */
.highlightedGame__price__button {
    float: right;
}

/* Aligning bottom buttons */
.sliderBottom {
    text-align: center;
    width: 100%;
}

/* Increasing progress bar width */
.progressBar {
    width: 60%;
}

/* LOGIN PAGE */
/* Sizing form */
.main__login {
    width: 50%;
    margin: auto;
    /* height: 60%; */
}

/* Form default styles */
.form__section {
    background-color: rgba(128, 128, 128, 0.308);
    font-size: 2rem;
    padding: 30px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__fieldSet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Form title */
.form__title {
    font-size: 5rem;
}

/* Form labels size */
.field__label {
    font-size: 2.8rem;
}

/* Form input properties*/

.input {
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    height: 50px;
    padding-left: 10px;
    font-size: 2rem;
    transition: all 0.5s;
}

.input:focus {
    transform: scale(1.02, 1.02);
}

/* Remember password section to flex */
.remember__section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.remember__section input {
    width: 20px;
}

.remember__section a {
    color: rgb(59, 59, 250);
}

/* Sizing login button */
#login__button {
    width: 200px;
    margin-bottom: 50px;
}

/* WISHLIST PAGE */
/* Structuring the page with grid  --- START --- */
.main__wishlist {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 50px 200px 200px 200px 50px;
    grid-template-areas:
        "title title title"
        "game-sorting game-sorting game-sorting"
        "game-1 game-1 game-1"
        "game-2 game-2 game-2"
        "game-3 game-3 game-3"
        "none none checkout-button";
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    align-items: center;
    justify-items: center;
}

.main__wishlist__title {
    grid-area: title;
    font-size: 5rem;
    justify-self: start;
    align-self: flex-end;
    /* margin-top: 50px; */
}

.main__wishlist__sorting {
    grid-area: game-sorting;
    justify-self: start;
    font-size: 2rem;
    display: flex;
    gap: 20px;
}

#game-sorting {
    color: white;
    background-color: black;
    border: 1px solid rgba(107, 107, 107, 0.432);
}

.wishlist_game_article_1 {
    grid-area: game-1;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(71, 71, 71, 0.575);
}

.wishlist__game__article__1_text {
    width: 70%;
    text-align: justify;
}

.wishlist__game__article__1__name {
    margin-bottom: 20px;
}

.wishlist_game_article_2 {
    grid-area: game-2;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(71, 71, 71, 0.575);
}

.wishlist__game__article__2_text {
    width: 70%;
    text-align: justify;
}

.wishlist__game__article__2__name {
    margin-bottom: 20px;
}

.wishlist_game_article_3 {
    grid-area: game-3;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(71, 71, 71, 0.575);
}

.wishlist__game__article__3_text {
    width: 70%;
    text-align: justify;
}

.wishlist__game__article__3__name {
    margin-bottom: 20px;
}

.wishlist__checkout {
    grid-area: checkout-button;
    justify-self: flex-end;
}
/* Structuring the page with grid  --- END --- */

/* Sizing the images on the wishlist */
.wishlist__img--size {
    height: 200px;
    width: 150px;
}

.wishlist__game__price {
    font-size: 2.5rem;
    padding-right: 30px;
}

/* REGISTER PAGE */
/* Structuring the page with flexbox */
.register__body {
    background: linear-gradient(black, rgb(88, 88, 88));
}

.main__register {
    width: 50%;
    margin: auto;
}

.register__form__title {
    font-size: 5rem;
}

.register__form__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.308);
}

.register__form__fieldSet {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register__newsletter__section {
    display: flex;
    align-items: baseline;
}

.register__terms__section {
    display: flex;
    align-items: baseline;
}

#terms,
#newsletter {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#register__button {
    width: 300px;
    margin-bottom: 50px;
    align-self: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
