/* Default size on html for rem units */
html {
  font-size: 62.5%; }

/* General css rules for the entire body */
body {
  background-color: black;
  color: blak;
  font-family: "Noto Sans TC", Arial, sans-serif;
  animation: fadeIn 0.8s;
  height: 100vh; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Button default styles */
.button {
  padding: 10px 15px;
  text-transform: uppercase;
  margin: 5px;
  background-color: black;
  border: 3px solid white;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.5s; }

/* Button properties */
.button:hover {
  background-color: orange;
  transform: scale(1.2, 1.2); }

.button:visited {
  background-color: black;
  color: white; }

.button:active {
  background-color: #dd9000;
  color: white; }

.header__navbar__mobile--logo {
  height: 50px;
  width: 50px; }

.header__navbar__desktop--logo {
  height: 80px;
  width: 80px; }

.header__navbar__desktop--buttons {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 15px; }

.footer {
  height: 10vh;
  background-color: black;
  color: rgba(255, 255, 255, 0.562); }

.carousel__img--mobile {
  height: 80vh; }

.carousel-inner .carousel-item div.carousel-caption div.game__description {
  border-radius: 3px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.514);
  margin-bottom: 10px; }

#offers__slider {
  padding: 0;
  margin: 0; }

.main__home__options--menu {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.897); }

#offcanvasNavbar {
  background-color: rgba(0, 0, 0, 0.897); }

.close__swipe__button {
  height: 50px;
  width: 50px; }

.menu__options li {
  width: 200px;
  text-align: center; }

.loginRegister__options {
  background-color: rgba(255, 166, 0, 0.15);
  border-radius: 4px; }

.sidebar__options {
  background-color: rgba(255, 166, 0, 0.15);
  border-radius: 4px; }

.header__navbar {
  height: 10vh;
  background-color: black; }

.main {
  height: 80vh;
  background-color: black; }

/* Aligning everything to center */
.main__home {
  display: flex;
  margin: auto;
  align-items: center; }

/* Erasing bullets from the navbar list and managing nav items with flexbox*/
.navBar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* Erasing <a> tag default styles */
.navBar__list li a {
  text-decoration: none;
  color: white; }

.navBar__list li {
  width: 200px; }

/* First column with the navigation */
.navigationBar {
  /* background-color: rgba(196, 196, 196, 0.089); */
  padding: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  width: 10%; }

/* Aligning bottom buttons */
.sliderBottom {
  text-align: center;
  width: 100%; }

.main__login {
  height: 90vh; }
  .main__login--title {
    margin-top: 50px; }
    .main__login--title a {
      color: white;
      text-decoration: none; }
  .main__login__form {
    width: 95%; }
    .main__login__form--title {
      color: white;
      margin-bottom: 23px;
      text-align: center; }
    .main__login__form__fieldset--label {
      color: white; }
    .main__login__form__fieldset--input {
      background-color: rgba(0, 0, 0, 0.897);
      height: 45px;
      margin-bottom: 25px;
      font-size: 1.5rem;
      color: white;
      border-color: #3f3e3e;
      padding: 30px 30px 30px 25px;
      transition: all 0.3s; }
      .main__login__form__fieldset--input:focus {
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
        transform: scale(1.03, 1.03); }
    .main__login__form__fieldset__remember--label {
      color: rgba(255, 255, 255, 0.664);
      font-size: 1.5rem;
      margin-right: 5px; }
    .main__login__form__fieldset__remember--input {
      font-size: 15px;
      background-color: rgba(128, 128, 128, 0.541);
      margin-right: 7px; }
    .main__login__form__fieldset__remember--link {
      font-size: 1.5rem;
      color: white; }
    .main__login__form__fieldset--submit {
      width: 100%;
      margin: 0px;
      margin-top: 30px;
      height: 60px;
      font-size: 1.3rem;
      border-color: rgba(255, 255, 255, 0.315); }
      .main__login__form__fieldset--submit:hover {
        transform: scale(1.05, 1.05); }
    .main__login__form__register {
      margin-top: 50px;
      text-align: center; }
      .main__login__form__register--text {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.671); }
      .main__login__form__register--link {
        font-size: 1.5rem;
        margin-left: 10px;
        color: white; }

@media screen and (min-width: 600px) {
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%; }
  .main__login__form {
    background-color: rgba(31, 30, 30, 0.584);
    padding: 80px 60px 80px 60px;
    margin-bottom: 70px;
    border-radius: 5px; } }
