/* Default size on html for rem units */
html {
  font-size: 62.5%; }

/* General css rules for the entire body */
body {
  background-color: black;
  color: blak;
  font-family: "Noto Sans TC", Arial, sans-serif;
  animation: fadeIn 0.8s;
  height: 100vh; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Button default styles */
.button, .main__search__filters__card__options--item button {
  padding: 10px 15px;
  text-transform: uppercase;
  margin: 5px;
  background-color: black;
  border: 3px solid white;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.5s; }

/* Button properties */
.button:hover, .main__search__filters__card__options--item button:hover {
  background-color: orange;
  transform: scale(1.2, 1.2); }

.button:visited, .main__search__filters__card__options--item button:visited {
  background-color: black;
  color: white; }

.button:active, .main__search__filters__card__options--item button:active {
  background-color: #dd9000;
  color: white; }

.select {
  background-color: rgba(0, 0, 0, 0.897);
  margin-bottom: 25px;
  font-size: 1.5rem;
  color: white;
  border-color: #3f3e3e;
  transition: all 0.3s;
  height: 62px;
  padding: 0px 0px 0px 26px; }
  .select:focus {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    transform: scale(1.03, 1.03); }

.header__navbar__mobile--logo {
  height: 50px;
  width: 50px; }

.header__navbar__desktop--logo {
  height: 80px;
  width: 80px; }

.header__navbar__desktop--buttons {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 15px; }

#offcanvasNavbar {
  background-color: rgba(0, 0, 0, 0.897); }

.close__swipe__button {
  height: 50px;
  width: 50px; }

.menu__options li {
  width: 200px;
  text-align: center; }

.loginRegister__options {
  background-color: rgba(255, 166, 0, 0.15);
  border-radius: 4px; }

.sidebar__options {
  background-color: rgba(255, 166, 0, 0.15);
  border-radius: 4px; }

.header__navbar {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0); }

.footer {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.562); }

.home_body {
  background-image: url("../../images/background8bit.gif");
  background-repeat: no-repeat;
  background-size: cover; }

.carousel__img--mobile {
  height: 80vh; }

.carousel-inner .carousel-item div.carousel-caption div.game__description {
  border-radius: 3px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.514);
  margin-bottom: 10px; }

#offers__slider {
  padding: 0;
  margin: 0; }

.main__home__options--menu {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 75%; }

.main__home__options--item {
  height: 50px;
  width: 100%; }
  .main__home__options--item a {
    font-size: 13px; }

.main {
  height: 80vh; }

/* Aligning everything to center */
.main__home {
  display: flex;
  margin: auto;
  align-items: center; }

/* Erasing bullets from the navbar list and managing nav items with flexbox*/
.navBar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* Erasing <a> tag default styles */
.navBar__list li a {
  text-decoration: none;
  color: white; }

.navBar__list li {
  width: 200px; }

/* First column with the navigation */
.navigationBar {
  /* background-color: rgba(196, 196, 196, 0.089); */
  padding: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  width: 10%; }

/* Aligning bottom buttons */
.sliderBottom {
  text-align: center;
  width: 100%; }

.login_body {
  background-image: url("../../images/background8bit.gif");
  background-repeat: repeat-y;
  background-size: cover; }

.main__login {
  height: 90vh; }
  .main__login--title {
    margin-top: 50px; }
    .main__login--title a {
      color: white;
      text-decoration: none; }
  .main__login__form {
    width: 95%; }
    .main__login__form--title {
      color: white;
      margin-bottom: 23px;
      text-align: center; }
    .main__login__form__fieldset--label {
      color: white; }
    .main__login__form__fieldset--input {
      background-color: rgba(0, 0, 0, 0.897);
      height: 45px;
      margin-bottom: 25px;
      font-size: 1.5rem;
      color: white;
      border-color: #3f3e3e;
      padding: 30px 30px 30px 25px;
      transition: all 0.3s; }
      .main__login__form__fieldset--input:focus {
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
        transform: scale(1.03, 1.03); }
    .main__login__form__fieldset__remember--label {
      color: rgba(255, 255, 255, 0.664);
      font-size: 1.5rem;
      margin-right: 5px; }
    .main__login__form__fieldset__remember--input {
      font-size: 15px;
      background-color: rgba(128, 128, 128, 0.541);
      margin-right: 7px; }
    .main__login__form__fieldset__remember--link {
      font-size: 1.5rem;
      color: white; }
    .main__login__form__fieldset--submit {
      width: 100%;
      margin: 0px;
      margin-top: 30px;
      height: 60px;
      font-size: 1.3rem;
      border-color: rgba(255, 255, 255, 0.315); }
      .main__login__form__fieldset--submit:hover {
        transform: scale(1.05, 1.05); }
    .main__login__form__register {
      margin-top: 50px;
      text-align: center; }
      .main__login__form__register--text {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.671); }
      .main__login__form__register--link {
        font-size: 1.5rem;
        margin-left: 10px;
        color: white; }

@media screen and (min-width: 600px) {
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%; }
  .main__login__form {
    background-color: rgba(31, 30, 30, 0.584);
    padding: 80px 60px 80px 60px;
    margin-bottom: 70px;
    border-radius: 5px; } }

.register_body {
  background-image: url("../../images/background8bit.gif");
  background-repeat: repeat-y;
  background-size: cover; }

.main__register {
  height: 90vh; }
  .main__register--title {
    margin-top: 50px; }
    .main__register--title a {
      color: white;
      text-decoration: none; }
  .main__register__form {
    width: 95%; }
    .main__register__form--title {
      color: white;
      margin-bottom: 23px;
      text-align: center; }
    .main__register__form__fieldset--label {
      color: white; }
    .main__register__form__fieldset--input, .main__register__form__fieldset--select {
      background-color: rgba(0, 0, 0, 0.897);
      height: 45px;
      margin-bottom: 25px;
      font-size: 1.5rem;
      color: white;
      border-color: #3f3e3e;
      padding: 30px 30px 30px 25px;
      transition: all 0.3s; }
      .main__register__form__fieldset--input:focus, .main__register__form__fieldset--select:focus {
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
        transform: scale(1.03, 1.03); }
    .main__register__form__fieldset--select {
      height: 62px;
      padding: 0px 0px 0px 26px; }
    .main__register__form__fieldset__remember--label {
      color: rgba(255, 255, 255, 0.664);
      font-size: 1.5rem;
      margin-right: 5px; }
    .main__register__form__fieldset__remember--input {
      font-size: 15px;
      background-color: rgba(128, 128, 128, 0.541);
      margin-right: 7px; }
    .main__register__form__fieldset__remember--link {
      font-size: 1.5rem;
      color: white; }
    .main__register__form__fieldset--submit {
      width: 100%;
      margin: 0px;
      margin-top: 30px;
      height: 60px;
      font-size: 1.3rem;
      border-color: rgba(255, 255, 255, 0.315); }
      .main__register__form__fieldset--submit:hover {
        transform: scale(1.05, 1.05); }
    .main__register__form__register {
      margin-top: 50px;
      text-align: center; }
      .main__register__form__register--text {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.671); }
      .main__register__form__register--link {
        font-size: 1.5rem;
        margin-left: 10px;
        color: white; }

@media screen and (min-width: 600px) {
  .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%; }
  .main__register__form {
    background-color: rgba(31, 30, 30, 0.584);
    padding: 80px 60px 80px 60px;
    margin-bottom: 70px;
    border-radius: 5px; } }

@media screen and (max-width: 600px) {
  .footer__register {
    margin-top: 40px;
    height: 5vh; }
  .main__register__form__register {
    margin-top: 20px; }
    .main__register__form__register--text {
      font-size: 1.3rem; }
    .main__register__form__register--link {
      font-size: 1.3rem; } }

.wishlist_body {
  background-image: url("../../images/background8bit.gif");
  background-repeat: repeat-y;
  background-size: cover; }

.main__wishlist {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%; }
  .main__wishlist__title {
    color: white;
    padding: 15px; }
    .main__wishlist__title--text {
      font-size: 2.8rem;
      margin: 0;
      padding: 0; }
  .main__wishlist__sorting--label {
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    padding: 0; }
  .main__wishlist__game__1 {
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .main__wishlist__game__1--img {
      padding: 0; }
    .main__wishlist__game__1__information {
      height: 100%;
      color: white;
      background-color: rgba(31, 31, 31, 0.584); }
      .main__wishlist__game__1__information--name {
        height: 30%;
        padding: 10px;
        font-size: 1.8rem;
        align-self: center;
        padding-left: 30px; }
      .main__wishlist__game__1__information--description {
        padding: 15px;
        overflow: hidden;
        text-align: justify;
        height: 50%; }
      .main__wishlist__game__1__information--price {
        padding-top: 5px;
        height: 20%;
        color: white;
        background-color: rgba(255, 166, 0, 0.692);
        font-size: 1.3rem;
        align-self: flex-end;
        text-align: center;
        font-weight: bold;
        transition: all 0.3s; }
        .main__wishlist__game__1__information--price:hover {
          background-color: rgba(0, 81, 255, 0.712);
          transform: scale(1.02, 1.02); }
  .main__wishlist__game__2 {
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .main__wishlist__game__2--img {
      padding: 0; }
    .main__wishlist__game__2__information {
      height: 100%;
      color: white;
      background-color: rgba(31, 31, 31, 0.584); }
      .main__wishlist__game__2__information--name {
        height: 30%;
        padding: 10px;
        font-size: 1.8rem;
        align-self: center;
        padding-left: 30px; }
      .main__wishlist__game__2__information--description {
        padding: 15px;
        overflow: hidden;
        text-align: justify;
        height: 50%; }
      .main__wishlist__game__2__information--price {
        padding-top: 5px;
        height: 20%;
        color: white;
        background-color: rgba(255, 166, 0, 0.692);
        font-size: 1.3rem;
        align-self: flex-end;
        text-align: center;
        font-weight: bold;
        transition: all 0.3s; }
        .main__wishlist__game__2__information--price:hover {
          background-color: rgba(0, 81, 255, 0.712);
          transform: scale(1.02, 1.02); }
  .main__wishlist__game__3 {
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .main__wishlist__game__3--img {
      padding: 0; }
    .main__wishlist__game__3__information {
      height: 100%;
      color: white;
      background-color: rgba(31, 31, 31, 0.584); }
      .main__wishlist__game__3__information--name {
        height: 30%;
        padding: 10px;
        font-size: 1.8rem;
        align-self: center;
        padding-left: 30px; }
      .main__wishlist__game__3__information--description {
        padding: 15px;
        overflow: hidden;
        text-align: justify;
        height: 50%; }
      .main__wishlist__game__3__information--price {
        padding-top: 5px;
        height: 20%;
        color: white;
        background-color: rgba(255, 166, 0, 0.692);
        font-size: 1.3rem;
        align-self: flex-end;
        text-align: center;
        font-weight: bold;
        transition: all 0.3s; }
        .main__wishlist__game__3__information--price:hover {
          background-color: rgba(0, 81, 255, 0.712);
          transform: scale(1.02, 1.02); }
  .main__wishlist__checkout--button {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    height: 60px;
    font-size: 1.3rem;
    border-color: rgba(255, 255, 255, 0.315); }
    .main__wishlist__checkout--button:hover {
      transform: scale(1.05, 1.05); }

@media screen and (min-width: 600px) {
  .main__wishlist {
    justify-content: flex-start; }
    .main__wishlist__sorting {
      width: 30%;
      margin-bottom: 20px; }
    .main__wishlist__game__1 {
      height: 240px;
      padding: 0;
      justify-content: space-around;
      background-color: rgba(27, 27, 27, 0.473);
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 20px; }
      .main__wishlist__game__1--img {
        height: 200px;
        width: 150px; }
      .main__wishlist__game__1__information {
        background-color: rgba(39, 39, 39, 0.273);
        border-radius: 5px; }
        .main__wishlist__game__1__information--name {
          padding-top: 20px; }
        .main__wishlist__game__1__information--description {
          padding: 30px; }
        .main__wishlist__game__1__information--price {
          padding-top: 10px; }
    .main__wishlist__game__2 {
      height: 240px;
      padding: 0;
      justify-content: space-around;
      background-color: rgba(27, 27, 27, 0.473);
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 20px; }
      .main__wishlist__game__2--img {
        height: 200px;
        width: 150px; }
      .main__wishlist__game__2__information {
        background-color: rgba(39, 39, 39, 0.273);
        border-radius: 5px; }
        .main__wishlist__game__2__information--name {
          padding-top: 20px; }
        .main__wishlist__game__2__information--description {
          padding: 30px; }
        .main__wishlist__game__2__information--price {
          padding-top: 10px; }
    .main__wishlist__game__3 {
      height: 240px;
      padding: 0;
      justify-content: space-around;
      background-color: rgba(27, 27, 27, 0.473);
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 20px; }
      .main__wishlist__game__3--img {
        height: 200px;
        width: 150px; }
      .main__wishlist__game__3__information {
        background-color: rgba(39, 39, 39, 0.273);
        border-radius: 5px; }
        .main__wishlist__game__3__information--name {
          padding-top: 20px; }
        .main__wishlist__game__3__information--description {
          padding: 30px; }
        .main__wishlist__game__3__information--price {
          padding-top: 10px; }
  .main__wishlist__checkout--button {
    width: 40%;
    justify-self: center; } }

.advanced_body {
  background-image: url("../../images/background8bit.gif");
  background-repeat: repeat-y;
  background-size: cover; }

.main__search {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%; }
  .main__search__title {
    color: white;
    padding: 15px; }
    .main__search__title--text {
      font-size: 2.8rem;
      margin: 0;
      padding: 0; }
  .main__search__searchBar--field {
    background-color: rgba(0, 0, 0, 0.897);
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: white;
    border-color: #3f3e3e;
    padding: 30px 30px 30px 25px;
    transition: all 0.3s; }
    .main__search__searchBar--field:focus {
      background-color: rgba(0, 0, 0, 0.767);
      color: white;
      transform: scale(1.03, 1.03); }
  .main__search__searchBar--button {
    width: 100%;
    margin: 0px;
    height: 40px;
    font-size: 1.3rem;
    border-color: rgba(255, 255, 255, 0.315); }
    .main__search__searchBar--button:hover {
      transform: scale(1.05, 1.05); }
  .main__search__filters {
    margin-top: 22px; }
    .main__search__filters--button {
      margin: 0;
      background-color: rgba(66, 66, 138, 0.74);
      font-size: 2rem;
      margin-bottom: 15px;
      border-color: #3f3e3e;
      width: 100%; }
      .main__search__filters--button:hover {
        transform: scale(1.05, 1.05);
        background-color: rgba(93, 93, 187, 0.74);
        color: white; }
    .main__search__filters__card {
      background-color: rgba(39, 39, 39, 0.377); }
      .main__search__filters__card__options {
        width: 100%;
        list-style: none; }
        .main__search__filters__card__options--item button {
          border-color: #3f3e3e;
          margin: 0;
          padding: 10px;
          margin-bottom: 5px;
          width: 100%; }
          .main__search__filters__card__options--item button:hover {
            transform: scale(1.05, 1.05); }
  .main__search__featured {
    width: 100%; }
    .main__search__featured--label {
      color: white;
      font-size: 2rem;
      margin-top: 15px;
      margin-bottom: 10px; }
    .main__search__featured__game__1--img {
      height: 210px;
      width: 100%; }
    .main__search__featured__game__1__information {
      background-color: rgba(53, 53, 53, 0.877);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main__search__featured__game__1__information--name {
        color: white;
        font-size: 1.4rem;
        padding-top: 3px; }
      .main__search__featured__game__1__information--developer {
        color: rgba(255, 255, 255, 0.788); }
      .main__search__featured__game__1__information--price {
        height: 32px;
        text-align: center;
        padding-bottom: 2px;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.425);
        background-color: rgba(255, 166, 0, 0.705);
        width: 100%;
        font-weight: bold;
        transition: all 0.3s; }
        .main__search__featured__game__1__information--price:hover {
          transform: scale(1.03, 1.03);
          background-color: rgba(0, 81, 255, 0.712);
          color: white; }
    .main__search__featured__game__2--img {
      height: 210px;
      width: 100%; }
    .main__search__featured__game__2__information {
      background-color: rgba(53, 53, 53, 0.877);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main__search__featured__game__2__information--name {
        color: white;
        font-size: 1.4rem;
        padding-top: 3px; }
      .main__search__featured__game__2__information--developer {
        color: rgba(255, 255, 255, 0.788); }
      .main__search__featured__game__2__information--price {
        height: 32px;
        text-align: center;
        padding-bottom: 2px;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.425);
        background-color: rgba(255, 166, 0, 0.705);
        width: 100%;
        font-weight: bold;
        transition: all 0.3s; }
        .main__search__featured__game__2__information--price:hover {
          transform: scale(1.03, 1.03);
          background-color: rgba(0, 81, 255, 0.712);
          color: white; }
    .main__search__featured__game__3--img {
      height: 210px;
      width: 100%; }
    .main__search__featured__game__3__information {
      background-color: rgba(53, 53, 53, 0.877);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main__search__featured__game__3__information--name {
        color: white;
        font-size: 1.4rem;
        padding-top: 3px; }
      .main__search__featured__game__3__information--developer {
        color: rgba(255, 255, 255, 0.788); }
      .main__search__featured__game__3__information--price {
        height: 32px;
        text-align: center;
        padding-bottom: 2px;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.425);
        background-color: rgba(255, 166, 0, 0.705);
        width: 100%;
        font-weight: bold;
        transition: all 0.3s; }
        .main__search__featured__game__3__information--price:hover {
          transform: scale(1.03, 1.03);
          background-color: rgba(0, 81, 255, 0.712);
          color: white; }
  .main__search__community {
    width: 100%; }
    .main__search__community--label {
      color: white;
      font-size: 2rem;
      margin-top: 20px;
      margin-bottom: 14px; }
    .main__search__community__game__1--img {
      height: 210px;
      width: 100%; }
    .main__search__community__game__1__information {
      background-color: rgba(53, 53, 53, 0.877);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main__search__community__game__1__information--name {
        color: white;
        font-size: 1.4rem;
        padding-top: 3px; }
      .main__search__community__game__1__information--developer {
        color: rgba(255, 255, 255, 0.788); }
      .main__search__community__game__1__information--price {
        height: 32px;
        text-align: center;
        padding-bottom: 2px;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.425);
        background-color: rgba(255, 166, 0, 0.582);
        width: 100%;
        font-weight: bold;
        transition: all 0.3s; }
        .main__search__community__game__1__information--price:hover {
          transform: scale(1.03, 1.03);
          background-color: rgba(0, 81, 255, 0.712);
          color: white; }
    .main__search__community__game__2--img {
      height: 210px;
      width: 100%; }
    .main__search__community__game__2__information {
      background-color: rgba(53, 53, 53, 0.877);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main__search__community__game__2__information--name {
        color: white;
        font-size: 1.4rem;
        padding-top: 3px; }
      .main__search__community__game__2__information--developer {
        color: rgba(255, 255, 255, 0.788); }
      .main__search__community__game__2__information--price {
        height: 32px;
        text-align: center;
        padding-bottom: 2px;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.425);
        background-color: rgba(255, 166, 0, 0.582);
        width: 100%;
        font-weight: bold;
        transition: all 0.3s; }
        .main__search__community__game__2__information--price:hover {
          transform: scale(1.03, 1.03);
          background-color: rgba(0, 81, 255, 0.712);
          color: white; }
    .main__search__community__game__3--img {
      height: 210px;
      width: 100%; }
    .main__search__community__game__3__information {
      background-color: rgba(53, 53, 53, 0.877);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main__search__community__game__3__information--name {
        color: white;
        font-size: 1.4rem;
        padding-top: 3px; }
      .main__search__community__game__3__information--developer {
        color: rgba(255, 255, 255, 0.788); }
      .main__search__community__game__3__information--price {
        height: 32px;
        text-align: center;
        padding-bottom: 2px;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.425);
        background-color: rgba(255, 166, 0, 0.582);
        width: 100%;
        font-weight: bold;
        transition: all 0.3s; }
        .main__search__community__game__3__information--price:hover {
          transform: scale(1.03, 1.03);
          background-color: rgba(0, 81, 255, 0.712);
          color: white; }

@media screen and (min-width: 600px) {
  .main__search__featured {
    width: 80%; }
    .main__search__featured__game__1--img {
      height: 400px;
      width: 100%; }
    .main__search__featured__game__2--img {
      height: 400px;
      width: 100%; }
    .main__search__featured__game__3--img {
      height: 400px;
      width: 100%; }
  .main__search__community {
    width: 80%; }
    .main__search__community__game__1--img {
      height: 400px;
      width: 100%; }
    .main__search__community__game__2--img {
      height: 400px;
      width: 100%; }
    .main__search__community__game__3--img {
      height: 400px;
      width: 100%; } }

.contact_body {
  background-image: url("../../images/background8bit.gif");
  background-repeat: repeat-y;
  background-size: cover; }

.main__contact {
  height: 90vh; }
  .main__contact--title {
    margin-top: 50px; }
    .main__contact--title a {
      color: white;
      text-decoration: none; }
  .main__contact__form {
    width: 95%; }
    .main__contact__form--title {
      color: white;
      margin-bottom: 23px;
      text-align: center; }
    .main__contact__form__fieldset--label {
      color: white; }
    .main__contact__form__fieldset--input, .main__contact__form__fieldset--textarea {
      background-color: rgba(0, 0, 0, 0.897);
      height: 45px;
      margin-bottom: 25px;
      font-size: 1.5rem;
      color: white;
      border-color: #3f3e3e;
      padding: 30px 30px 30px 25px;
      transition: all 0.3s; }
      .main__contact__form__fieldset--input:focus, .main__contact__form__fieldset--textarea:focus {
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
        transform: scale(1.03, 1.03); }
    .main__contact__form__fieldset--textarea {
      height: 180px; }
    .main__contact__form__fieldset--submit {
      width: 100%;
      margin: 0px;
      margin-top: 30px;
      height: 60px;
      font-size: 1.3rem;
      border-color: rgba(255, 255, 255, 0.315); }
      .main__contact__form__fieldset--submit:hover {
        transform: scale(1.05, 1.05); }

@media screen and (min-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%; }
  .main__contact__form {
    background-color: rgba(31, 30, 30, 0.584);
    padding: 80px 60px 80px 60px;
    margin-bottom: 70px;
    border-radius: 5px; } }

@media screen and (max-width: 600px) {
  .footer__contact {
    margin-top: 40px;
    height: 5vh; }
  .main__contact__form__contact {
    margin-top: 20px; }
    .main__contact__form__contact--text {
      font-size: 1.3rem; }
    .main__contact__form__contact--link {
      font-size: 1.3rem; } }
