.carousel__img--mobile {
    height: 80vh;
}

.carousel-inner {
    .carousel-item {
        div.carousel-caption {
            div.game__description {
                border-radius: 3px;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.514);
                margin-bottom: 10px;
            }
        }
    }
}

#offers__slider {
    padding: 0;
    margin: 0;
}

.main__home__options--menu {
    text-align: center;
    background-color: $background-black-low-opacity;
}

.main {
    height: 80vh;
    background-color: black;
}

/* Aligning everything to center */
.main__home {
    display: flex;
    margin: auto;
    align-items: center;
}

/* Erasing bullets from the navbar list and managing nav items with flexbox*/
.navBar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Erasing <a> tag default styles */
.navBar__list {
    li {
        a {
            text-decoration: none;
            color: white;
        }
    }
}

.navBar__list {
    li {
        width: 200px;
    }
}

/* First column with the navigation */
.navigationBar {
    /* background-color: rgba(196, 196, 196, 0.089); */
    padding: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    width: 10%;
}

/* Aligning bottom buttons */
.sliderBottom {
    text-align: center;
    width: 100%;
}
