.header__navbar {
    &__mobile {
        &--logo {
            height: 50px;
            width: 50px;
        }
    }

    &__desktop {
        &--logo {
            height: 80px;
            width: 80px;
        }

        &--buttons {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 15px;
        }
    }
}

#offcanvasNavbar {
    background-color: $background-black-low-opacity;
}

.close__swipe__button {
    height: 50px;
    width: 50px;
}

.menu__options {
    li {
        width: 200px;
        text-align: center;
    }
}

.loginRegister__options {
    background-color: $background-orange-low-opacity;
    border-radius: 4px;
}

.sidebar__options {
    background-color: $background-orange-low-opacity;
    border-radius: 4px;
}

.header__navbar {
    height: 10vh;
    background-color: black;
}
