.header__navbar {
    &__mobile {
        &--logo {
            height: 50px;
            width: 50px;
        }
    }

    &__desktop {
        &--logo {
            height: 80px;
            width: 80px;
        }

        &--buttons {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 15px;
        }
    }
}
